body {
    margin: 0;
    min-height: 100vh;

    background-color: #050505;
    color: #00ff88;

    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 550px;
    padding: 40px;

    text-align: center;

    border: 2px solid #00ff88;
    border-radius: 12px;

    background-color: #0b0f0d;

    box-shadow: 0 0 25px #00ff88;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

p {
    color: #cccccc;
    font-size: 21px;
}

button {
    margin-top: 25px;
    padding: 12px 30px;

    background-color: transparent;
    color: #00ff88;

    border: 2px solid #00ff88;
    border-radius: 6px;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #00ff88;
    color: #050505;
}
.level {
    display: none;
}
.password{
 margin-top: 25px;
    padding: 12px 30px;

    background-color: transparent;
    color: #00ff88;

    border: 2px solid #00ff88;
    border-radius: 6px;

    font-size: 17px;
    font-weight: bold;
}
#gameOverScreen {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #050505;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 100;
}

#gameOverScreen h1 {
    font-size: 70px;
    color: red;
}

#gameOverScreen p {
    font-size: 20px;
}
#victoryScreen {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #050505;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 100;
}

#victoryScreen h1 {
    font-size: 50px;
}

#victoryScreen h2 {
    font-size: 35px;
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-8px);
    }

    50% {
        transform: translateX(8px);
    }

    75% {
        transform: translateX(-8px);
    }

    100% {
        transform: translateX(0);
    }
}
.shake {
    animation: shake 0.4s;
}
#gameStats {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: bold;
}